body {
  background-color: #ededed;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0px;
  padding-left: 0px;
  margin: 0px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  display: inline;
  padding: none;
}

.admin {
  float: right;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

header {
  background-color: #0032a1;
}

.menu {
  width: 100%;
  font-family: Arial;
  font-size: medium;
  font-weight: light;
  text-align: center;
  color: #000;
}

.cols {
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  padding: 1px;
  align-items: center;
}

td a {
  color: #fff;
  text-decoration: none;
}


.logo {
  width: 200px;
}
body {
  background-color: #ededed;
  padding-top: 0px;
  padding-left: 0px;
  margin: 0px
}

table.menu td {
  
  vertical-align: middle;
  transition: transform 0.3s;
}

table.menu td:not(:last-child):hover {
transform: scale(1.1);
}


table.menu header {
  background-color: #0032a1;
}



table.menu td a:visited {
  color: #fff;
  text-decoration: none;
}

table.menu td a:link {
  color: #fff;
  text-decoration: none;
}

a:active {
  color: #000;
  text-decoration: none;
}

table.menu td a:hover {
  color: #04b3fc;
  text-decoration: none;
transform: scale(1.1);
}

header {
  background: #fff;
}

.logo {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px; 
  margin-left: 10px;
}

.boton1 a {
    color: #fff;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.blue-table, .center-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
}
.blue-table{
    margin-top: 30px;
}

.blue-row, .blue-row td {
    background-color: #000;
    color: #fff;
}

.first-row, .first-row td {
    background-color: #fff;
    color: #000;
}

.white-row {
    background-color: #fff;
    color: #000;
}

.assign-btn {
    background-color: #0032a1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
}

.modify-btn-container {
    text-align: center;
    padding-left: 950px;
}

.modify-btn {
    background-color: #0032a1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
table.menu, table.rubrica {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #0032a1;
}

.calificacion {
    display: flex;
    align-items: center;
    background-color: #D3D3D3;
    padding: 10px 20px;
}

.col1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.col1 h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.link a{
    text-decoration: underline;
    color:#000;

}
.link a:hover{
    color:#000;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background: #000; 
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .dropdown-content a:hover {
    color: #0042d1;
  }
  .color p{
    color:rgb(24, 213, 150);
  }
  .boto_img img{
    width: 50px;
  }
  .boto_img{
    border-radius: 30px;
    background: #fa5555;
    border-width: 1px;
    cursor: pointer;
  }
  .boto_img:hover{
    background: #c40404;
  }
  .bot-cal1{
    width: 33%;
    background-color: #0032a1;
    border: none;
    color: white;
    padding: 10px 20px;
    padding-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .bot-cal2{
    width: 33%;
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px 20px;
    padding-left: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .icon-tabler-user-circle,
.icon-tabler-bell-filled {
  margin-left: 40px;
  stroke-width: 2px;
  stroke: #fff;
  fill: none;
  width: 31px;
  height: 31px;
  transition: stroke 0.3s, transform 0.3s;
  color: #fff;
}

.icon-tabler-user-circle:hover {
  cursor: pointer;
  stroke: #fff;
  transform: scale(1.1);
}

.icon-tabler-bell-filled:hover {
  cursor: pointer;
  stroke: #fff;
  transform: scale(1.1);
}
.calificacion {
  display: flex;
  align-items: center;
  background-color: #D3D3D3;
  padding: 10px 20px;
}

.calificacion h2 {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.calificar-btn {
  background-color: #0032a1;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 22px;
  transition: stroke 0.2s, transform 0.2s;
  margin-right: 20px;
}

.calificar-btn:hover {
  background-color: #04b3fc;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
  
}