
body{
  background-image: #fff;
  background-size: cover;
  padding-top: 0px;
  padding-left: 0px;
  margin: 0px;
}
p{
  font-family:Arial;
  font-size: 25px;
}
td{
  padding-top:10px; 
  padding-bottom: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

h1{
  font-family:Arial; 
  color: #000; 

  /*font-variant: small-caps;
  /*letter-spacing: 0.3em;*/
  font-size: 60px;
  font-weight: bold;
  /*font-weight:lighter;*/
}
header{
  background-color: #0032a1;
}
.menu{
  width: 100%;
  margin-top: 0px;
  font-family:Arial;
  /*font-variant:small-caps;*/
  font-size:medium;
  color : #000;
  /*letter-spacing: 0.2em;*/
  font-weight: light;
  text-align: center;
}
table.menu td a:hover {
  color: #04b3fc;
  text-decoration: none;
transform: scale(1.1);
}
table.menu td {
    
  vertical-align: middle;
  transition: transform 0.3s;
}

table.menu td:not(:last-child):hover {
transform: scale(1.1);
}
td a:visited {
  color: #fff;
  text-decoration: none; 
}
td a:link {
  color: #fff;
  text-decoration: none; 
}
a:active {
  color: #000;
  text-decoration: none; 
}
header table td a:hover{
  color: #04b3fc;
  text-decoration: none;
}
header{
  background: #fff;
}

.menu-td:hover {
  background-color: #fff;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #0032a1;
}
.logo{
  width: 200px; 
}
.calificacion {
display: flex;
align-items: center;
background-color: #D3D3D3;
padding: 10px 20px;
}
.calificacion h2{
font-family: Arial;
font-size: 24px;
font-weight: bold;
margin-left: 30px;
margin-top: 10px;
margin-bottom: 10px;
}

/*.row {
  display: table;
  width: 100%;
  margin-top: 50px;
})

.row div {
  display: table-cell;
  height: min-content;
}
  .col1 {
      padding-left: 5%;
      width: 25%;
  }
  .col1 p{
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 0px;
  }
  .col2 {
      display: flex;
      /*justify-content: center;
      align-items: center;
      vertical-align: middle;
      width: 25%;
      text-align: center;
  }
  .col3 {
      width: 25%;
  }
  .col1,
  .col2, .col3 {
      display: inline-block;
  }
  .row input{
      border-radius: 15px;;
      width: 50%;
      height: 30px;

  }
  .col4 {
      width: 50%;
      justify-content: center;

  }
  .col4 input{
      width: 75%;
      height: 100px;

  }

  .col10 {
      display: flex;
      /*justify-content: center;
      align-items: center;
      vertical-align: middle;
      width: 25%;
      text-align: center;

  }
  .col10 input{
    width: 75%;
    height: 250px;

}*/
  
  .icon-tabler-arrow-back-up-double {
      transition: stroke 0.3s, transform 0.3s;
      margin-left: 10px;
      width: 32px;
      height: 32px;
    }
    
    .icon-tabler-arrow-back-up-double:hover {
      stroke: #04b3fc;
      transform: scale(1.1);
      cursor: pointer;
    }
/*.col5{
  width:30%;
  padding-left: 50px;
  
}
.col5 p{
  margin-bottom: 0px;
  font-weight: bold;
}

.col6{
  width:30%;

}
.col6 p{
  margin-bottom: 0px;
  font-weight: bold;
}
.col7{
  width:30%;

}
.col7 p{
  margin-bottom: 0px;
  font-weight: bold;
}*/

.boton1 {
  width:120px;
  background-color: #5678EF;
  color:#fff;
  border-radius:15px;
  height: 35px;
  cursor: pointer;

}
.boton1:hover{
  color: #0032a1;
}
.botones{
  padding-left: 80px;
}
.bot{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.botonf{
  background-color: #0032a1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

.icon-tabler-user-circle,
.icon-tabler-bell-filled {
  margin-left: 40px;
  stroke-width: 2px;
  stroke: #fff;
  fill: none;
  width: 31px;
  height: 31px;
  transition: stroke 0.3s, transform 0.3s;
  color: #fff;
}

.icon-tabler-user-circle:hover {
  cursor: pointer;
  stroke: #fff;
  transform: scale(1.1);
}

.icon-tabler-bell-filled:hover {
  cursor: pointer;
  stroke: #fff;
  transform: scale(1.1);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background: #000; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.dropdown-content a:hover {
  color: #0042d1;
}
.calificar-btn {
  background-color: #0032a1;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 22px;
  transition: stroke 0.2s, transform 0.2s;
  margin-right: 20px;
}

.calificar-btn:hover {
  background-color: #04b3fc;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
  
}

.selector-for-some-widget {
  box-sizing: content-box;
}
.calificar-btn {
  background-color: #0032a1;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 22px;
  transition: stroke 0.2s, transform 0.2s;
  margin-right: 20px;
}

.calificar-btn:hover {
  background-color: #04b3fc;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
  
}

textarea {
  width: 100%; 
  height: 150px; 
  padding: 10px; 
  font-size: 16px; 
  line-height: 1.5; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
}
